body{
    background-image: url(/images/others/imgBg.png); /*IMAGEN DE FONDO */
    background-size: cover;
}
/* --------------- INDEX ---------------*/

.bg-custom{
    background-image: url(/images/index/indexImg.png);
    background-size: cover;
    height: 100vh;
}
.form{height: 100vh;}
.form-control{
    color: white;
    border: 0px;
    background-image:linear-gradient(rgb(79, 0, 0) 80%,red ) ;
}
.form-section{
    background-color: rgb(33, 33, 33);
    border: 1px solid white;
}