@import "variables";

@keyframes animated-header-button {
  0% {
    transform: scale(1.4, 2);
  }
  100% {
    transform: scale(1.8, 2.4);
  }
}

@mixin header-button-color($color) {
  /* c칩digo para el bot칩n de header*/
  color: $color;

  &:hover {
    animation: animated-header-button 0.5s ease 0s normal none;
    transform: scale(1.8, 2.4);
  }
}
@mixin header-responsive-design() {
    /*
    
    c칩digo para un dise침o responsive 
    investigar
     hola
    */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex;

    nav {
      margin-left: 0 !important;
      gap: 2em;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    div {
      padding: 0.5em 0;
      img {
        width: clamp(2.5em, 15vw, 3em);
      }

      span {
        font-size: clamp(1.2rem, 5vw, 1.8rem);
      }
    }
  }

  @media (max-width: 480px) {
    nav {
      gap: 1em;
    }

    div {
      img {
        width: 2em;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }
}

@mixin index-responsive-desing{
  @media (max-width: 1024px) {
    #contacto {
      flex-direction: column;
      padding: 3rem;
      gap: 5%;
    }

    #form {
      width: 45rem;
      height: auto;
    }

    #form-title h2 {
      font-size: 32px;
    }

    #form-content label {
      font-size: 20px;
    }

    #image-valo{
      width: auto;
    }
  }
  @media (max-width: 768px) {
    #contacto {
      flex-direction: column;
      padding: 2rem;
      height: auto;
    }

    #form {
      margin-left: 0 !important;
      width: 90%;
      height: auto;
    }

    #form-content {
      padding: 20px 30px;
    }

    #form-title h2 {
      font-size: 28px;
    }

    #buttons {
      display: flex;
      justify-content: center;
      
      gap: auto;
    }

    #buttons button {
      width: 100%;
    }
  }

  @media (max-width: 480px) {
    #contacto {
      padding: 1rem;
    }

    #form {
      width: 100%;
    }

    #form-title h2 {
      font-size: 24px;
    }

    #form-content label {
      font-size: 18px;
    }

    #form-content {
      padding: 15px;
    }

    #form-content textarea {
      height: 120px;
    }

    #buttons button {
      font-size: 16px;
      height: 35px;
    }

    footer div img {
      width: 1.8em;
    }
  }   
}

@mixin matches-resonsive-design(){
    
    @media (max-width: 1200px) {
    grid-template-columns: 1fr 400px;

    .estadisticas {
      width: 400px;
      height: auto;

      .estadisticas-title .text-estadisticas-title {
        font-size: 32px;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        .textmarcador {
          font-size: 60px;
        }

        .numeros {
          font-size: 45px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 45px;
      }
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr; // pasar todo a una columna
    margin: 20px !important;

    #results {
      grid-auto-rows: auto;
      gap: 30px;

      .partido img {
        margin-left: 20px !important;
        height: 70px;
      }
    }

    .estadisticas {
      width: 100%;
      height: auto;

      .estadisticas-title .text-estadisticas-title {
        font-size: 28px;
      }

      .partidosjugados .text-partidosJugados {
        font-size: 20px;
        margin-left: 20px !important;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        .textmarcador {
          font-size: 50px;
        }

        .numeros {
          font-size: 35px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 600px) {
    margin: 10px !important;

    #results .partido {
      flex-direction: column;
      padding: 10px;

      img {
        margin-left: 0 !important;
        margin-bottom: 10px !important;
      }

      .color-derrota,
      .color-victoria,
      .color-empate {
        width: 100%;
        height: 10px;
        top: auto;
        bottom: 0;
        right: 0;
      }
    }

    .estadisticas {
      .estadisticas-title .text-estadisticas-title {
        font-size: 24px;
      }

      .partidosjugados .text-partidosJugados {
        font-size: 18px;
        margin-left: 0 !important;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        margin-top: 20px !important;

        .textmarcador {
          font-size: 40px;
        }

        .numeros {
          font-size: 30px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 30px;
      }
    }
  }
}