@import "variables";

@keyframes animated-header-button {
  0% {
    transform: scale(1.4, 2);
  }
  100% {
    transform: scale(1.8, 2.4);
  }
}

@mixin header-button-color($color) {
  /* c칩digo para el bot칩n de header*/
  color: $color;

  &:hover {
    animation: animated-header-button 0.5s ease 0s normal none;
    transform: scale(1.8, 2.4);
  }
}

@mixin header-responsive-design {
    /*  responsive design para el header, en funci칩n de tama침o
        de pantallas
    */
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex;

    nav {
      margin-left: 0;
      gap: 2em;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }

    div {
      padding: 0.5em 0;
      img {
        width: clamp(2.5em, 15vw, 3em);
      }

      span {
        font-size: clamp(1.2rem, 5vw, 1.8rem);
      }
    }
  }

  @media (max-width: 480px) {
    nav {
      gap: 1em;
    }

    div {
      img {
        width: 2em;
      }

      span {
        font-size: 1.2rem;
      }
    }
  }
}

@mixin change-theme {
  /*
    He asumido totalmente que hay que 
    hay que hacer un mixin para esto
                    <3
    */
}
