@import "variables";

@mixin button-color($color){
    /* c칩digo para el bot칩n */
    color: $color;

    &:hover{
        
    }
}

@mixin responsive-design{
    /*
    
    c칩digo para un dise침o responsive 
    investigar

    */
}

@mixin change-theme{
    /*
    He asumido totalmente que hay que 
    hay que hacer un mixin para esto
                    <3
    */
}