@mixin button-colour($colour){
    /* código para el botón */
}

@mixin matches-resonsive-design(){
    
    @media (max-width: 1200px) {
    grid-template-columns: 1fr 400px;

    .estadisticas {
      width: 400px;
      height: auto;

      .estadisticas-title .text-estadisticas-title {
        font-size: 32px;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        .textmarcador {
          font-size: 60px;
        }

        .numeros {
          font-size: 45px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 45px;
      }
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr; // pasar todo a una columna
    margin: 20px;

    #results {
      grid-auto-rows: auto;
      gap: 30px;

      .partido img {
        margin-left: 20px;
        height: 70px;
      }
    }

    .estadisticas {
      width: 100%;
      height: auto;

      .estadisticas-title .text-estadisticas-title {
        font-size: 28px;
      }

      .partidosjugados .text-partidosJugados {
        font-size: 20px;
        margin-left: 20px;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        .textmarcador {
          font-size: 50px;
        }

        .numeros {
          font-size: 35px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 600px) {
    margin: 10px;

    #results .partido {
      flex-direction: column;
      padding: 10px;

      img {
        margin-left: 0;
        margin-bottom: 10px;
      }

      .color-derrota,
      .color-victoria,
      .color-empate {
        width: 100%;
        height: 10px;
        top: auto;
        bottom: 0;
        right: 0;
      }
    }

    .estadisticas {
      .estadisticas-title .text-estadisticas-title {
        font-size: 24px;
      }

      .partidosjugados .text-partidosJugados {
        font-size: 18px;
        margin-left: 0;
      }

      .marcador .win,
      .marcador .lose,
      .marcador .empate {
        margin-top: 20px;

        .textmarcador {
          font-size: 40px;
        }

        .numeros {
          font-size: 30px;
        }
      }

      .win-rate .text-win-rate,
      .win-rate .porcentaje-win {
        font-size: 30px;
      }
    }
  }
}