// Colores de resolución de los matches
$color-green : #1C9D48;
$color-yellow : #E3B336;
$color-red: #D82D3C;

// Fondo de la section de matches (hay que aplicarle opacity)
$color-marches-bg : #A15A5A;

// Texto rojo de la pag.
$color-text-red : #CE0037;

// Borde y fondo de players 
$color-player-border : #B60525;
$color-player-bg : #220207;

// Color del formulario
$color-form-text: #E00B2E;

// Borde claro, nav, footer y otros
$color-border-light : #AEAEAE;

// Texto
$font-general: "Oswald", sans-serif;
$color-footer-nav : black;

