@import 'variables';
@import 'mixins';
* {
  font-family: $font-sentinels;
}

body {
  background-image: url("../../images/background/fondo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
}

.bg-custom {
  background-image: url("../../images/index/indexImg.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  background-color: $color-footer-nav;
  border-bottom: solid 1px;
  border-color: $color-border-light;
  display: flex;
  @include header-responsive-design;
  div {
    padding: 1em 2.5em 1em 2.5em;
    height: auto;
    display: flex;
    align-items: flex-end;

    img {
      width: clamp(3em, 8vw, 4em);
      height: auto;
      margin-right: 25px;
    }

    span {
      font-family: $font-sentinels;
      color: $color-white;
      font-weight: bold;
      font-size: xx-large;
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      display: block;
    }
  }

  nav {
    margin-left: 5em;
    display: flex;
    align-items: center;
    gap: clamp(2em, 5vw, 8em);
    a {
      text-decoration: none;
      transform: scale(1.4, 2);
      font-size: clamp(1rem, 2vw, 1.5rem);
      width: auto;
      @include header-button-color($color-text-red);
    }
  }
  #checkbox{
    /*
      hacer responsive esto tmbn
    */
    margin-left: auto;
  }
}
/*INDEX*/




#contacto{
  height: 100vh;
  padding: 5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;

}
#image-valo{
  height: auto;
  width: auto;
  img{
    height: auto;
    width: 100%;
  }
}
#form {
    
    background-color: black;
    border: 1px solid white;
    text-align: left;
    height:auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
    color: white;
    

    #form-title {
        width: 100%;
        border-bottom: 1px solid white;
        text-align: center;

        h2 {
            margin: 10px;
            font-size: 40px;
        }
    }

    #form-content {
        padding: 20px;
        padding-left: 70px;
        padding-right: 70px;
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 25px;
        }

        input {
            background-image: linear-gradient(#390000 70%, red);
            border: 0;
            border-radius: 5px;
            height: 30px;
            width: 100%;
            padding-left: 10px;
            color: white;
        }

        textarea {
            background-image: linear-gradient(#390000 90%, red);
            border: 0;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            padding: 10px;
            color: white;
            resize: none;
        }

    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            width: 8rem;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-image: linear-gradient(#390000 60%, red);
            color: white;
            font-size: 18px;
            cursor: pointer;
        }
    }
}


footer {
  border-top: solid 1px;
  border-color: $color-border-light;
  background-color: $color-footer-nav;
  span {
    color: $color-border-light;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  div {
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    img {
      width: 2.5em;
    }
  }
}


@include index-responsive-desing;