@import "variables";
@import "mixins";
@import "functions";
* {
  font-family: $font-sentinels;
}

body {
  background-image: url("../../images/background/fondo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
}

.bg-custom {
  background-image: url("../../images/index/indexImg.png");
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
input[type="checkbox"] {
  &:checked {
    background-color: page-theme(true);
    border-color: $color-text-red;
  }
  &:not(:checked) {
    background-color: page-theme(false);
    border-color: $color-text-red;
  }
}
body:has(input[type="checkbox"]:checked) {
  header {
    background-color: page-theme(false);
    span {
      color: page-theme(true);
    }
  }
  footer {
    background-color: page-theme(false);
    span {
      color: page-theme(true);
    }
  }
}
body:has(input[type="checkbox"]:not(:checked)) {
  header {
    background-color: page-theme(true);
    span {
      color: page-theme(false);  
    }
  }
  footer {
    background-color: page-theme(true);
  }
}

header {
  border-bottom: solid 1px;
  border-color: $color-border-light;
  display: flex;
  @include header-responsive-design;

  .header-sentinels {
    padding: 1em 2.5em 1em 2.5em;
    height: auto;
    display: flex;
    align-items: flex-end;

    img {
      height: 55%;
      width: 60px;
      margin-right: 25px;
    }

    span {
      font-family: $font-sentinels;
      color: $color-white;
      font-weight: bold;
      font-size: xx-large;
      display: block;
    }
  }

  .header-nav {
    width: 80%;
    margin-left: 5em;
    display: flex;
    align-items: center;
    gap: 8em;

    a {
      text-decoration: none;
      color: $color-text-red;
      transform: scale(1.4, 2);
      width: auto;
    }
  }
}
.header-checkbox {
  width: 100%;
  margin: 0;
  padding: 12px;
  display: flex;
  justify-content: end;
  /*
    función para acapturar check y cambiar color
    */
}

footer {
  border-top: solid 1px;
  border-color: $color-border-light;
  /*background-color: $color-footer-nav;*/
  span {
    color: $color-border-light;
    display: block;

  div {
    img {
      width: 60px;
      height: 60px;
    }
  }
}
/*INDEX*/




#contacto{
  height: 100vh;
  padding: 5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10%;

}
#image-valo{
  height: auto;
  width: auto;
  img{
    height: auto;
    width: 100%;
  }
}
#form {
    
    background-color: black;
    border: 1px solid white;
    text-align: left;
    height:auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
    color: white;
    

    #form-title {
        width: 100%;
        border-bottom: 1px solid white;
        text-align: center;

        h2 {
            margin: 10px;
            font-size: 40px;
        }
    }

    #form-content {
        padding: 20px;
        padding-left: 70px;
        padding-right: 70px;
        display: flex;
        flex-direction: column;

        label {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: 25px;
        }

        input {
            background-image: linear-gradient(#390000 70%, red);
            border: 0;
            border-radius: 5px;
            height: 30px;
            width: 100%;
            padding-left: 10px;
            color: white;
        }

        textarea {
            background-image: linear-gradient(#390000 90%, red);
            border: 0;
            border-radius: 5px;
            width: 100%;
            height: 150px;
            padding: 10px;
            color: white;
            resize: none;
        }

    }

    #buttons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        margin-bottom: 20px;
        button {
            width: 8rem;
            height: 40px;
            border-radius: 10px;
            border: none;
            background-image: linear-gradient(#390000 60%, red);
            color: white;
            font-size: 18px;
            cursor: pointer;
        }
    }
}



/*---------MATCHES-------------*/

#mainMatches {

  display: flex;
  object-fit: cover;
  margin: 70px;

  #results {

    display: flex;
    flex-direction: column;
    margin-right: 100px;

    .partido:first-child {
      margin-top: 25px;
    }

    img {
      width: auto;
      height: 97px;
      margin-top: 10px;
      margin-left: 100px;
    }

    .partido {
      position: relative;
      width: 1000px;
      height: 150px;
      background-color: $color-marches-bg;
      opacity: 70%;
      margin-top: 60px;

      .color-derrota {
        position: absolute;
        right: 0;
        background-color: $color-red;
        width: 28px;
        height: 150px;
        opacity: 100%;
      }

      .color-victoria {
        position: absolute;
        right: 0;
        background-color: $color-green;
        width: 28px;
        height: 150px;
        opacity: 100%;
      }

      .color-empate {
        position: absolute;
        right: 0;
        background-color: $color-yellow ;
        width: 28px;
        height: 150px;
        opacity: 100%;
      }

    }







  }

  .estadisticas {
    width: 602px;
    height: 627px;
    background-color: black;
    border: 2px solid #AEAEAE;
    display: flex;
    flex-direction: column;


    .estadisticas-title {
      height: 75px;
      text-align: center;
      border: 2px solid #AEAEAE;
      justify-content: center;
      align-items: center;
      display: flex;

      .text-estadisticas-title {
        font-family: 'Oswald', sans-serif;
        font-weight: 100;
        color: $color-text-red;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.02em;

      }
    }

    .partidosjugados {
      display: flex;

      margin-top: 30px;

      .text-partidosJugados {
        font-family: 'Oswald', sans-serif;
        font-weight: 100;
        color: $color-text-red;
        font-size: 24px;
        text-align: center;
        justify-content: center;
        align-items: center;
        letter-spacing: -0.02em;
        margin-left: 70px;
      }
    }

    .marcador {

      height: 250px;
      display: flex;

      .win {
        margin: auto;
        margin-top: 50px;

        .textmarcador {
          font-size: 80px;
          color: $color-text-red;
        }

        .numeros {
          font-size: 60px;
          color: white;
        }
      }

      .lose {
        margin: auto;
        margin-top: 50px;

        .textmarcador {
          font-size: 80px;
          color: $color-text-red;
        }

        .numeros {
          font-size: 60px;
          color: white;
        }
      }

      .empate {
        margin: auto;
        margin-top: 50px;

        .textmarcador {
          font-size: 80px;
          color: $color-text-red;
        }

        .numeros {
          font-size: 60px;
          color: white;
        }
      }
    }

    .win-rate {
      display: flex;
      flex-direction: column;

      .text-win-rate {
        font-size: 60px;
        color: white;
        text-align: center;
      }

      .porcentaje-win {
        font-size: 60px;
        color: white;
        text-align: center;
      }
    }



  }


}

/*---------------Fin de matches-------------------*/


#contacto {
  height: 100vh;
  padding: 5rem;
  display: flex;

}

#form {
  background-color: black;
  border: 1px solid white;
  text-align: left;
  height: 40rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  color: white;

  #form-title {
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;

    h2 {
      margin: 10px;
      font-size: 25px;
    }
  }

  #form-content {
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    label {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 18px;
    }

    input {
      background-image: linear-gradient(#390000 70%, red);
      border: 0;
      border-radius: 5px;
      height: 30px;
      width: 100%;
      padding-left: 10px;
      color: white;
    }

    textarea {
      background-image: linear-gradient(#390000 90%, red);
      border: 0;
      border-radius: 5px;
      width: 100%;
      height: 150px;
      padding: 10px;
      color: white;
      resize: none;
    }

  }

  #buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

    button {
      width: 8rem;
      height: 40px;
      border-radius: 10px;
      border: none;
      background-image: linear-gradient(#390000 60%, red);
      color: white;
      font-size: 18px;
      cursor: pointer;
    }
  }
}


@include index-responsive-desing;
}