@import "variables";
@import "mixins";

@import 'variables';
@import 'mixins';
* {
  font-family: $font-general;
}

body {
  background-image: url("../../images/background/fondo.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-custom {
  background-image: url("../../images/index/indexImg.png");
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

header {
  background-color: $color-footer-nav;
  border-bottom: solid 1px;
  border-color: $color-border-light;
  display: flex;
  @include header-responsive-design;
  div {
    padding: 1em 2.5em 1em 2.5em;
    height: auto;
    display: flex;
    align-items: flex-end;

    img {
      width: clamp(3em, 8vw, 4em);
      height: auto;
      margin-right: 25px;
    }

    span {
      font-family: $font-sentinels;
      color: $color-white;
      font-weight: bold;
      font-size: xx-large;
      font-size: clamp(1.5rem, 4vw, 2.5rem);
      display: block;
    }
  }

  nav {
    margin-left: 5em;
    display: flex;
    align-items: center;
    gap: clamp(2em, 5vw, 8em);
    a {
      text-decoration: none;
      transform: scale(1.4, 2);
      font-size: clamp(1rem, 2vw, 1.5rem);
      width: auto;
      @include header-button-color($color-text-red);
    }
  }
  #checkbox{
    /*
      hacer responsive esto tmbn
    */
    margin-left: auto;
  }
}

footer {
  border-top: solid 1px;
  border-color: $color-border-light;
  background-color: $color-footer-nav;
  span {
    color: $color-border-light;
    display: block;
    text-align: center;
    margin-top: 35px;
  }
  div {
    margin-top: 10px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    img {
      width: 2.5em;
    }
  }
}
